USE [QuanLyTieuChuanQuanNhan]
GO
/****** Object:  Table [dbo].[Buoi_an]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buoi_an](
	[buoian_id] [int] NOT NULL,
	[buoian_ten] [nvarchar](20) NOT NULL,
	[buoian_tletienan] [decimal](4, 2) NOT NULL,
	[buoian_giokhoaso] [time](7) NULL,
 CONSTRAINT [PK_Buoi_an] PRIMARY KEY CLUSTERED 
(
	[buoian_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_com]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_com](
	[catcom_id] [int] NULL,
	[ngay_thang_nam] [date] NOT NULL,
	[buoian_id] [int] NOT NULL,
	[quannhan_id] [int] NOT NULL,
	[catcom_ly_do] [nvarchar](100) NULL,
	[donvi_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cau_truc_bua_an]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cau_truc_bua_an](
	[chedo_id] [int] NOT NULL,
	[buoian_id] [int] NOT NULL,
	[vi_tri] [nvarchar](20) NOT NULL,
	[bat_buoc] [bit] NOT NULL,
	[so_luong_toi_da] [tinyint] NOT NULL,
 CONSTRAINT [PK_Cau_Truc_Bua_An] PRIMARY KEY CLUSTERED 
(
	[chedo_id] ASC,
	[buoian_id] ASC,
	[vi_tri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Che_do]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Che_do](
	[chedo_id] [int] NOT NULL,
	[chedo_ten] [nvarchar](100) NOT NULL,
	[chedo_tienan] [int] NOT NULL,
	[chedo_binhchung] [nvarchar](50) NULL,
	[chedo_capbac] [nvarchar](50) NULL,
	[chedo_kcal] [int] NULL,
 CONSTRAINT [PK_Che_do] PRIMARY KEY CLUSTERED 
(
	[chedo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chi_tiet_mon_an]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_tiet_mon_an](
	[monan_id] [int] NOT NULL,
	[thucpham_id] [int] NOT NULL,
	[chedo_id] [int] NOT NULL,
	[ty_le] [decimal](8, 4) NULL,
 CONSTRAINT [PK_ChiTiet_MonAn] PRIMARY KEY CLUSTERED 
(
	[monan_id] ASC,
	[thucpham_id] ASC,
	[chedo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chi_tiet_tdmau]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_tiet_tdmau](
	[mau_id] [int] NOT NULL,
	[thu_trong_tuan] [tinyint] NOT NULL,
	[buoian_id] [int] NOT NULL,
	[monan_id] [int] NOT NULL,
	[vi_tri] [tinyint] NOT NULL,
	[ghi_chu_mau] [nvarchar](100) NULL,
 CONSTRAINT [PK_Chi_tiet_tdmau] PRIMARY KEY CLUSTERED 
(
	[mau_id] ASC,
	[thu_trong_tuan] ASC,
	[buoian_id] ASC,
	[monan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chi_tiet_thuc_don]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_tiet_thuc_don](
	[thucdon_id] [int] NOT NULL,
	[ngay_thang_nam] [date] NOT NULL,
	[buoian_id] [int] NOT NULL,
	[monan_id] [int] NOT NULL,
 CONSTRAINT [PK_Chi_Tiet_Thuc_Don] PRIMARY KEY CLUSTERED 
(
	[thucdon_id] ASC,
	[ngay_thang_nam] ASC,
	[buoian_id] ASC,
	[monan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dinh_luong]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dinh_luong](
	[thucpham_id] [int] NOT NULL,
	[chedo_id] [int] NOT NULL,
	[dinhluong_soluong] [decimal](10, 4) NOT NULL,
 CONSTRAINT [PK_Dinh_luong] PRIMARY KEY CLUSTERED 
(
	[thucpham_id] ASC,
	[chedo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dinh_luong_che_do_chuan]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dinh_luong_che_do_chuan](
	[dinhluong_chuan_id] [int] IDENTITY(1,1) NOT NULL,
	[chedo_id] [int] NOT NULL,
	[ten_thucpham_chuan] [nvarchar](100) NOT NULL,
	[nhom_thucpham] [nvarchar](50) NOT NULL,
	[so_luong] [decimal](10, 2) NOT NULL,
	[don_vi_tinh] [nvarchar](10) NOT NULL,
	[ghi_chu] [nvarchar](255) NULL,
 CONSTRAINT [PK_Dinh_luong_che_do_chuan] PRIMARY KEY CLUSTERED 
(
	[dinhluong_chuan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Don_vi]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Don_vi](
	[donvi_id] [int] NOT NULL,
	[donvi_ten] [nvarchar](100) NOT NULL,
	[donvi_cap] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Don_vi] PRIMARY KEY CLUSTERED 
(
	[donvi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mon_an]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mon_an](
	[monan_id] [int] NOT NULL,
	[monan_ten] [nvarchar](150) NOT NULL,
	[monan_loaimon] [nvarchar](20) NOT NULL,
	[ghi_chu] [nvarchar](50) NULL,
	[dam] [float] NULL,
	[chat_beo] [float] NULL,
	[chat_xo] [float] NULL,
 CONSTRAINT [PK_Mon_an] PRIMARY KEY CLUSTERED 
(
	[monan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quan_nhan]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quan_nhan](
	[quannhan_id] [int] NOT NULL,
	[quannhan_hoten] [nvarchar](100) NOT NULL,
	[quannhan_capbac] [nvarchar](50) NULL,
	[quannhan_chucvu] [nvarchar](100) NULL,
	[donvi_id] [int] NOT NULL,
	[chedo_id] [int] NULL,
 CONSTRAINT [PK_Quan_nhan] PRIMARY KEY CLUSTERED 
(
	[quannhan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quan_so_an]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quan_so_an](
	[ngay_thang_nam] [date] NOT NULL,
	[buoian_id] [int] NOT NULL,
	[chedo_id] [int] NOT NULL,
	[donvi_id] [int] NOT NULL,
	[quansoan_soluong] [smallint] NOT NULL,
 CONSTRAINT [PK_Quan_So_An] PRIMARY KEY CLUSTERED 
(
	[ngay_thang_nam] ASC,
	[buoian_id] ASC,
	[chedo_id] ASC,
	[donvi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuc_don]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuc_don](
	[thucdon_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[chedo_id] [int] NOT NULL,
	[trang_thai] [nvarchar](20) NOT NULL,
	[thucdon_tuan] [tinyint] NOT NULL,
	[thucdon_nam] [smallint] NOT NULL,
	[ngay_thang_nam] [date] NOT NULL,
 CONSTRAINT [PK_Thuc_don] PRIMARY KEY CLUSTERED 
(
	[thucdon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuc_don_mau]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuc_don_mau](
	[mau_id] [int] IDENTITY(1,1) NOT NULL,
	[mau_ten] [nvarchar](100) NOT NULL,
	[mau_mo_ta] [nvarchar](255) NULL,
	[ngay_tao] [date] NOT NULL,
	[nguoi_tao] [int] NULL,
	[la_mac_dinh] [bit] NOT NULL,
 CONSTRAINT [PK_Thuc_don_mau] PRIMARY KEY CLUSTERED 
(
	[mau_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuc_pham]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuc_pham](
	[thucpham_id] [int] IDENTITY(1,1) NOT NULL,
	[thucpham_ten] [nvarchar](150) NOT NULL,
	[thucpham_loai] [nvarchar](30) NOT NULL,
	[thucpham_donvitinh] [nvarchar](10) NOT NULL,
	[thucpham_giatien] [decimal](12, 2) NOT NULL,
	[thucpham_kcal] [decimal](8, 2) NOT NULL,
	[thucpham_protein] [decimal](6, 2) NULL,
 CONSTRAINT [PK_Thuc_pham] PRIMARY KEY CLUSTERED 
(
	[thucpham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] NOT NULL,
	[quannhan_id] [int] NOT NULL,
	[user_taikhoan] [varchar](50) NOT NULL,
	[user_mat_khau] [varchar](255) NOT NULL,
	[user_vai_tro] [int] NOT NULL,
	[donvi_id] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Buoi_an] ([buoian_id], [buoian_ten], [buoian_tletienan], [buoian_giokhoaso]) VALUES (1, N'SANG', CAST(0.20 AS Decimal(4, 2)), NULL)
INSERT [dbo].[Buoi_an] ([buoian_id], [buoian_ten], [buoian_tletienan], [buoian_giokhoaso]) VALUES (2, N'TRUA', CAST(0.40 AS Decimal(4, 2)), NULL)
INSERT [dbo].[Buoi_an] ([buoian_id], [buoian_ten], [buoian_tletienan], [buoian_giokhoaso]) VALUES (3, N'CHIEU', CAST(0.40 AS Decimal(4, 2)), NULL)
GO
INSERT [dbo].[Cat_com] ([catcom_id], [ngay_thang_nam], [buoian_id], [quannhan_id], [catcom_ly_do], [donvi_id]) VALUES (NULL, CAST(N'2026-05-08' AS Date), 2, 2024103, NULL, 160)
INSERT [dbo].[Cat_com] ([catcom_id], [ngay_thang_nam], [buoian_id], [quannhan_id], [catcom_ly_do], [donvi_id]) VALUES (NULL, CAST(N'2026-05-08' AS Date), 2, 2024104, NULL, 160)
INSERT [dbo].[Cat_com] ([catcom_id], [ngay_thang_nam], [buoian_id], [quannhan_id], [catcom_ly_do], [donvi_id]) VALUES (NULL, CAST(N'2026-05-08' AS Date), 3, 2024103, NULL, 160)
GO
INSERT [dbo].[Che_do] ([chedo_id], [chedo_ten], [chedo_tienan], [chedo_binhchung], [chedo_capbac], [chedo_kcal]) VALUES (1, N'Hoc vien', 101000, NULL, NULL, NULL)
INSERT [dbo].[Che_do] ([chedo_id], [chedo_ten], [chedo_tienan], [chedo_binhchung], [chedo_capbac], [chedo_kcal]) VALUES (2, N'Can bo', 72000, NULL, NULL, NULL)
INSERT [dbo].[Che_do] ([chedo_id], [chedo_ten], [chedo_tienan], [chedo_binhchung], [chedo_capbac], [chedo_kcal]) VALUES (3, N'Chien si', 71000, NULL, NULL, NULL)
GO
INSERT [dbo].[Chi_tiet_mon_an] ([monan_id], [thucpham_id], [chedo_id], [ty_le]) VALUES (1, 2, 1, NULL)
INSERT [dbo].[Chi_tiet_mon_an] ([monan_id], [thucpham_id], [chedo_id], [ty_le]) VALUES (2, 5, 1, NULL)
INSERT [dbo].[Chi_tiet_mon_an] ([monan_id], [thucpham_id], [chedo_id], [ty_le]) VALUES (3, 3, 1, NULL)
GO
INSERT [dbo].[Chi_tiet_tdmau] ([mau_id], [thu_trong_tuan], [buoian_id], [monan_id], [vi_tri], [ghi_chu_mau]) VALUES (1, 2, 1, 5, 2, NULL)
INSERT [dbo].[Chi_tiet_tdmau] ([mau_id], [thu_trong_tuan], [buoian_id], [monan_id], [vi_tri], [ghi_chu_mau]) VALUES (1, 2, 1, 21, 1, NULL)
INSERT [dbo].[Chi_tiet_tdmau] ([mau_id], [thu_trong_tuan], [buoian_id], [monan_id], [vi_tri], [ghi_chu_mau]) VALUES (1, 2, 2, 8, 6, NULL)
GO
INSERT [dbo].[Chi_tiet_thuc_don] ([thucdon_id], [ngay_thang_nam], [buoian_id], [monan_id]) VALUES (2, CAST(N'2026-05-01' AS Date), 1, 2)
INSERT [dbo].[Chi_tiet_thuc_don] ([thucdon_id], [ngay_thang_nam], [buoian_id], [monan_id]) VALUES (2, CAST(N'2026-05-01' AS Date), 2, 1)
INSERT [dbo].[Chi_tiet_thuc_don] ([thucdon_id], [ngay_thang_nam], [buoian_id], [monan_id]) VALUES (2, CAST(N'2026-05-01' AS Date), 2, 3)
GO
SET IDENTITY_INSERT [dbo].[Dinh_luong_che_do_chuan] ON 

INSERT [dbo].[Dinh_luong_che_do_chuan] ([dinhluong_chuan_id], [chedo_id], [ten_thucpham_chuan], [nhom_thucpham], [so_luong], [don_vi_tinh], [ghi_chu]) VALUES (1, 2, N'Gạo tẻ', N'TINH BOT', CAST(680.00 AS Decimal(10, 2)), N'g', N'Chế độ 72.000, khoảng 3200 kcal/người/ngày')
INSERT [dbo].[Dinh_luong_che_do_chuan] ([dinhluong_chuan_id], [chedo_id], [ten_thucpham_chuan], [nhom_thucpham], [so_luong], [don_vi_tinh], [ghi_chu]) VALUES (2, 2, N'Thịt xô lọc', N'THIT', CAST(50.00 AS Decimal(10, 2)), N'g', N'Chế độ 72.000, khoảng 3200 kcal/người/ngày')
INSERT [dbo].[Dinh_luong_che_do_chuan] ([dinhluong_chuan_id], [chedo_id], [ten_thucpham_chuan], [nhom_thucpham], [so_luong], [don_vi_tinh], [ghi_chu]) VALUES (3, 2, N'Thịt lợn nạc', N'THIT', CAST(80.00 AS Decimal(10, 2)), N'g', N'Chế độ 72.000, khoảng 3200 kcal/người/ngày')
SET IDENTITY_INSERT [dbo].[Dinh_luong_che_do_chuan] OFF
GO
INSERT [dbo].[Don_vi] ([donvi_id], [donvi_ten], [donvi_cap]) VALUES (158, N'Dai doi 158', N'c')
INSERT [dbo].[Don_vi] ([donvi_id], [donvi_ten], [donvi_cap]) VALUES (159, N'Dai doi 159', N'c')
INSERT [dbo].[Don_vi] ([donvi_id], [donvi_ten], [donvi_cap]) VALUES (160, N'Dai doi 160', N'c')
GO
INSERT [dbo].[Mon_an] ([monan_id], [monan_ten], [monan_loaimon], [ghi_chu], [dam], [chat_beo], [chat_xo]) VALUES (1, N'Ga chien', N'ManChinh', NULL, 20, 12, 0)
INSERT [dbo].[Mon_an] ([monan_id], [monan_ten], [monan_loaimon], [ghi_chu], [dam], [chat_beo], [chat_xo]) VALUES (2, N'Thit luoc', N'ManChinh', NULL, 20, 12, 0)
INSERT [dbo].[Mon_an] ([monan_id], [monan_ten], [monan_loaimon], [ghi_chu], [dam], [chat_beo], [chat_xo]) VALUES (3, N'Rau Muống Xào tỏi', N'Rau', NULL, 2.5, 4, 5)
GO
INSERT [dbo].[Quan_nhan] ([quannhan_id], [quannhan_hoten], [quannhan_capbac], [quannhan_chucvu], [donvi_id], [chedo_id]) VALUES (2024061, N'Vu Xuan Manh', N'1//', N'ct', 160, NULL)
INSERT [dbo].[Quan_nhan] ([quannhan_id], [quannhan_hoten], [quannhan_capbac], [quannhan_chucvu], [donvi_id], [chedo_id]) VALUES (2024062, N'Du', N'2//', N'vp', 160, NULL)
INSERT [dbo].[Quan_nhan] ([quannhan_id], [quannhan_hoten], [quannhan_capbac], [quannhan_chucvu], [donvi_id], [chedo_id]) VALUES (2024063, N'Nguyễn Văn An', N'Binh nhất', N'Học viên', 158, 1)
GO
INSERT [dbo].[Quan_so_an] ([ngay_thang_nam], [buoian_id], [chedo_id], [donvi_id], [quansoan_soluong]) VALUES (CAST(N'2026-05-01' AS Date), 1, 1, 160, 15)
INSERT [dbo].[Quan_so_an] ([ngay_thang_nam], [buoian_id], [chedo_id], [donvi_id], [quansoan_soluong]) VALUES (CAST(N'2026-05-01' AS Date), 1, 2, 160, 2)
INSERT [dbo].[Quan_so_an] ([ngay_thang_nam], [buoian_id], [chedo_id], [donvi_id], [quansoan_soluong]) VALUES (CAST(N'2026-05-01' AS Date), 3, 1, 158, 20)
GO
INSERT [dbo].[Thuc_don] ([thucdon_id], [user_id], [chedo_id], [trang_thai], [thucdon_tuan], [thucdon_nam], [ngay_thang_nam]) VALUES (1, 1, 1, N'NhapLieu', 19, 2026, CAST(N'2026-05-05' AS Date))
INSERT [dbo].[Thuc_don] ([thucdon_id], [user_id], [chedo_id], [trang_thai], [thucdon_tuan], [thucdon_nam], [ngay_thang_nam]) VALUES (2, 1, 1, N'ChoDuyet', 18, 2026, CAST(N'2026-05-02' AS Date))
INSERT [dbo].[Thuc_don] ([thucdon_id], [user_id], [chedo_id], [trang_thai], [thucdon_tuan], [thucdon_nam], [ngay_thang_nam]) VALUES (3, 1, 1, N'NhapLieu', 14, 2026, CAST(N'2026-04-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Thuc_don_mau] ON 

INSERT [dbo].[Thuc_don_mau] ([mau_id], [mau_ten], [mau_mo_ta], [ngay_tao], [nguoi_tao], [la_mac_dinh]) VALUES (1, N'Mẫu tuần 04-10/05/2026', N'Thực đơn mẫu chuẩn — tuần đầu tiên. Dùng làm gốc để lập thực đơn các tuần tiếp theo.', CAST(N'2026-05-04' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[Thuc_don_mau] OFF
GO
SET IDENTITY_INSERT [dbo].[Thuc_pham] ON 

INSERT [dbo].[Thuc_pham] ([thucpham_id], [thucpham_ten], [thucpham_loai], [thucpham_donvitinh], [thucpham_giatien], [thucpham_kcal], [thucpham_protein]) VALUES (1, N'Thịt Bò', N'THIT', N'g', CAST(250.00 AS Decimal(12, 2)), CAST(500.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[Thuc_pham] ([thucpham_id], [thucpham_ten], [thucpham_loai], [thucpham_donvitinh], [thucpham_giatien], [thucpham_kcal], [thucpham_protein]) VALUES (2, N'Thit Gà', N'THIT', N'g', CAST(100.00 AS Decimal(12, 2)), CAST(300.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[Thuc_pham] ([thucpham_id], [thucpham_ten], [thucpham_loai], [thucpham_donvitinh], [thucpham_giatien], [thucpham_kcal], [thucpham_protein]) VALUES (3, N'Rau muống', N'RAU', N'g', CAST(10000.00 AS Decimal(12, 2)), CAST(20.00 AS Decimal(8, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Thuc_pham] OFF
GO
INSERT [dbo].[User] ([user_id], [quannhan_id], [user_taikhoan], [user_mat_khau], [user_vai_tro], [donvi_id]) VALUES (1, 2024061, N'c160', N'123456', 1, 160)
INSERT [dbo].[User] ([user_id], [quannhan_id], [user_taikhoan], [user_mat_khau], [user_vai_tro], [donvi_id]) VALUES (2, 2024062, N'vanphong', N'123456', 2, 160)
GO
/****** Object:  Index [UQ_Cat_Com]    Script Date: 5/23/2026 5:45:07 AM ******/
ALTER TABLE [dbo].[Cat_com] ADD  CONSTRAINT [UQ_Cat_Com] UNIQUE NONCLUSTERED 
(
	[ngay_thang_nam] ASC,
	[buoian_id] ASC,
	[quannhan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DLCD_CheDo_TenTP]    Script Date: 5/23/2026 5:45:07 AM ******/
ALTER TABLE [dbo].[Dinh_luong_che_do_chuan] ADD  CONSTRAINT [UQ_DLCD_CheDo_TenTP] UNIQUE NONCLUSTERED 
(
	[chedo_id] ASC,
	[ten_thucpham_chuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_User_QuanNhan]    Script Date: 5/23/2026 5:45:07 AM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ_User_QuanNhan] UNIQUE NONCLUSTERED 
(
	[quannhan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_TaiKhoan]    Script Date: 5/23/2026 5:45:07 AM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ_User_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[user_taikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cau_truc_bua_an] ADD  DEFAULT ((1)) FOR [bat_buoc]
GO
ALTER TABLE [dbo].[Cau_truc_bua_an] ADD  DEFAULT ((1)) FOR [so_luong_toi_da]
GO
ALTER TABLE [dbo].[Mon_an] ADD  DEFAULT ((0)) FOR [dam]
GO
ALTER TABLE [dbo].[Mon_an] ADD  DEFAULT ((0)) FOR [chat_beo]
GO
ALTER TABLE [dbo].[Mon_an] ADD  DEFAULT ((0)) FOR [chat_xo]
GO
ALTER TABLE [dbo].[Thuc_don] ADD  DEFAULT ('NhapLieu') FOR [trang_thai]
GO
ALTER TABLE [dbo].[Thuc_don_mau] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[Thuc_don_mau] ADD  DEFAULT ((0)) FOR [la_mac_dinh]
GO
ALTER TABLE [dbo].[Cat_com]  WITH CHECK ADD  CONSTRAINT [FK_CC_BuoiAn] FOREIGN KEY([buoian_id])
REFERENCES [dbo].[Buoi_an] ([buoian_id])
GO
ALTER TABLE [dbo].[Cat_com] CHECK CONSTRAINT [FK_CC_BuoiAn]
GO
ALTER TABLE [dbo].[Cat_com]  WITH CHECK ADD  CONSTRAINT [FK_CC_QuanNhan] FOREIGN KEY([quannhan_id])
REFERENCES [dbo].[Quan_nhan] ([quannhan_id])
GO
ALTER TABLE [dbo].[Cat_com] CHECK CONSTRAINT [FK_CC_QuanNhan]
GO
ALTER TABLE [dbo].[Cau_truc_bua_an]  WITH CHECK ADD  CONSTRAINT [FK_CTBA_BuoiAn] FOREIGN KEY([buoian_id])
REFERENCES [dbo].[Buoi_an] ([buoian_id])
GO
ALTER TABLE [dbo].[Cau_truc_bua_an] CHECK CONSTRAINT [FK_CTBA_BuoiAn]
GO
ALTER TABLE [dbo].[Cau_truc_bua_an]  WITH CHECK ADD  CONSTRAINT [FK_CTBA_CheDo] FOREIGN KEY([chedo_id])
REFERENCES [dbo].[Che_do] ([chedo_id])
GO
ALTER TABLE [dbo].[Cau_truc_bua_an] CHECK CONSTRAINT [FK_CTBA_CheDo]
GO
ALTER TABLE [dbo].[Chi_tiet_mon_an]  WITH CHECK ADD  CONSTRAINT [FK_CTMA_CheDo] FOREIGN KEY([chedo_id])
REFERENCES [dbo].[Che_do] ([chedo_id])
GO
ALTER TABLE [dbo].[Chi_tiet_mon_an] CHECK CONSTRAINT [FK_CTMA_CheDo]
GO
ALTER TABLE [dbo].[Chi_tiet_mon_an]  WITH CHECK ADD  CONSTRAINT [FK_CTMA_MonAn] FOREIGN KEY([monan_id])
REFERENCES [dbo].[Mon_an] ([monan_id])
GO
ALTER TABLE [dbo].[Chi_tiet_mon_an] CHECK CONSTRAINT [FK_CTMA_MonAn]
GO
ALTER TABLE [dbo].[Chi_tiet_mon_an]  WITH CHECK ADD  CONSTRAINT [FK_CTMA_ThucPham] FOREIGN KEY([thucpham_id])
REFERENCES [dbo].[Thuc_pham] ([thucpham_id])
GO
ALTER TABLE [dbo].[Chi_tiet_mon_an] CHECK CONSTRAINT [FK_CTMA_ThucPham]
GO
ALTER TABLE [dbo].[Chi_tiet_tdmau]  WITH CHECK ADD  CONSTRAINT [FK_Chi_tiet_tdmau_Buoian] FOREIGN KEY([buoian_id])
REFERENCES [dbo].[Buoi_an] ([buoian_id])
GO
ALTER TABLE [dbo].[Chi_tiet_tdmau] CHECK CONSTRAINT [FK_Chi_tiet_tdmau_Buoian]
GO
ALTER TABLE [dbo].[Chi_tiet_tdmau]  WITH CHECK ADD  CONSTRAINT [FK_Chi_tiet_tdmau_Mau] FOREIGN KEY([mau_id])
REFERENCES [dbo].[Thuc_don_mau] ([mau_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chi_tiet_tdmau] CHECK CONSTRAINT [FK_Chi_tiet_tdmau_Mau]
GO
ALTER TABLE [dbo].[Chi_tiet_tdmau]  WITH CHECK ADD  CONSTRAINT [FK_Chi_tiet_tdmau_MonAn] FOREIGN KEY([monan_id])
REFERENCES [dbo].[Mon_an] ([monan_id])
GO
ALTER TABLE [dbo].[Chi_tiet_tdmau] CHECK CONSTRAINT [FK_Chi_tiet_tdmau_MonAn]
GO
ALTER TABLE [dbo].[Chi_tiet_thuc_don]  WITH CHECK ADD  CONSTRAINT [FK_CTTD_BuoiAn] FOREIGN KEY([buoian_id])
REFERENCES [dbo].[Buoi_an] ([buoian_id])
GO
ALTER TABLE [dbo].[Chi_tiet_thuc_don] CHECK CONSTRAINT [FK_CTTD_BuoiAn]
GO
ALTER TABLE [dbo].[Chi_tiet_thuc_don]  WITH CHECK ADD  CONSTRAINT [FK_CTTD_MonAn] FOREIGN KEY([monan_id])
REFERENCES [dbo].[Mon_an] ([monan_id])
GO
ALTER TABLE [dbo].[Chi_tiet_thuc_don] CHECK CONSTRAINT [FK_CTTD_MonAn]
GO
ALTER TABLE [dbo].[Chi_tiet_thuc_don]  WITH CHECK ADD  CONSTRAINT [FK_CTTD_ThucDon] FOREIGN KEY([thucdon_id])
REFERENCES [dbo].[Thuc_don] ([thucdon_id])
GO
ALTER TABLE [dbo].[Chi_tiet_thuc_don] CHECK CONSTRAINT [FK_CTTD_ThucDon]
GO
ALTER TABLE [dbo].[Dinh_luong]  WITH CHECK ADD  CONSTRAINT [FK_DinhLuong_CheDo] FOREIGN KEY([chedo_id])
REFERENCES [dbo].[Che_do] ([chedo_id])
GO
ALTER TABLE [dbo].[Dinh_luong] CHECK CONSTRAINT [FK_DinhLuong_CheDo]
GO
ALTER TABLE [dbo].[Dinh_luong]  WITH CHECK ADD  CONSTRAINT [FK_DinhLuong_ThucPham] FOREIGN KEY([thucpham_id])
REFERENCES [dbo].[Thuc_pham] ([thucpham_id])
GO
ALTER TABLE [dbo].[Dinh_luong] CHECK CONSTRAINT [FK_DinhLuong_ThucPham]
GO
ALTER TABLE [dbo].[Dinh_luong_che_do_chuan]  WITH CHECK ADD  CONSTRAINT [FK_DLCD_CheDo] FOREIGN KEY([chedo_id])
REFERENCES [dbo].[Che_do] ([chedo_id])
GO
ALTER TABLE [dbo].[Dinh_luong_che_do_chuan] CHECK CONSTRAINT [FK_DLCD_CheDo]
GO
ALTER TABLE [dbo].[Quan_nhan]  WITH CHECK ADD  CONSTRAINT [FK_QN_CheDo] FOREIGN KEY([chedo_id])
REFERENCES [dbo].[Che_do] ([chedo_id])
GO
ALTER TABLE [dbo].[Quan_nhan] CHECK CONSTRAINT [FK_QN_CheDo]
GO
ALTER TABLE [dbo].[Quan_nhan]  WITH CHECK ADD  CONSTRAINT [FK_QN_DonVi] FOREIGN KEY([donvi_id])
REFERENCES [dbo].[Don_vi] ([donvi_id])
GO
ALTER TABLE [dbo].[Quan_nhan] CHECK CONSTRAINT [FK_QN_DonVi]
GO
ALTER TABLE [dbo].[Quan_so_an]  WITH CHECK ADD  CONSTRAINT [FK_QSA_BuoiAn] FOREIGN KEY([buoian_id])
REFERENCES [dbo].[Buoi_an] ([buoian_id])
GO
ALTER TABLE [dbo].[Quan_so_an] CHECK CONSTRAINT [FK_QSA_BuoiAn]
GO
ALTER TABLE [dbo].[Quan_so_an]  WITH CHECK ADD  CONSTRAINT [FK_QSA_CheDo] FOREIGN KEY([chedo_id])
REFERENCES [dbo].[Che_do] ([chedo_id])
GO
ALTER TABLE [dbo].[Quan_so_an] CHECK CONSTRAINT [FK_QSA_CheDo]
GO
ALTER TABLE [dbo].[Quan_so_an]  WITH CHECK ADD  CONSTRAINT [FK_QSA_DonVi] FOREIGN KEY([donvi_id])
REFERENCES [dbo].[Don_vi] ([donvi_id])
GO
ALTER TABLE [dbo].[Quan_so_an] CHECK CONSTRAINT [FK_QSA_DonVi]
GO
ALTER TABLE [dbo].[Thuc_don]  WITH CHECK ADD  CONSTRAINT [FK_TD_CheDo] FOREIGN KEY([chedo_id])
REFERENCES [dbo].[Che_do] ([chedo_id])
GO
ALTER TABLE [dbo].[Thuc_don] CHECK CONSTRAINT [FK_TD_CheDo]
GO
ALTER TABLE [dbo].[Thuc_don]  WITH CHECK ADD  CONSTRAINT [FK_TD_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Thuc_don] CHECK CONSTRAINT [FK_TD_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_QuanNhan] FOREIGN KEY([quannhan_id])
REFERENCES [dbo].[Quan_nhan] ([quannhan_id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_QuanNhan]
GO
ALTER TABLE [dbo].[Buoi_an]  WITH CHECK ADD  CONSTRAINT [CHK_Buoi_an_Tyle] CHECK  (([buoian_tletienan]>(0) AND [buoian_tletienan]<(1)))
GO
ALTER TABLE [dbo].[Buoi_an] CHECK CONSTRAINT [CHK_Buoi_an_Tyle]
GO
ALTER TABLE [dbo].[Cau_truc_bua_an]  WITH CHECK ADD  CONSTRAINT [CHK_CTBA_SoLuong] CHECK  (([so_luong_toi_da]>=(1)))
GO
ALTER TABLE [dbo].[Cau_truc_bua_an] CHECK CONSTRAINT [CHK_CTBA_SoLuong]
GO
ALTER TABLE [dbo].[Chi_tiet_mon_an]  WITH CHECK ADD  CONSTRAINT [CHK_CTMA_TyLe] CHECK  (([ty_le]>(0) AND [ty_le]<=(1)))
GO
ALTER TABLE [dbo].[Chi_tiet_mon_an] CHECK CONSTRAINT [CHK_CTMA_TyLe]
GO
ALTER TABLE [dbo].[Chi_tiet_tdmau]  WITH CHECK ADD  CONSTRAINT [CK_Chi_tiet_tdmau_Thu] CHECK  (([thu_trong_tuan]>=(2) AND [thu_trong_tuan]<=(8)))
GO
ALTER TABLE [dbo].[Chi_tiet_tdmau] CHECK CONSTRAINT [CK_Chi_tiet_tdmau_Thu]
GO
ALTER TABLE [dbo].[Chi_tiet_tdmau]  WITH CHECK ADD  CONSTRAINT [CK_Chi_tiet_tdmau_ViTri] CHECK  (([vi_tri]>=(1) AND [vi_tri]<=(10)))
GO
ALTER TABLE [dbo].[Chi_tiet_tdmau] CHECK CONSTRAINT [CK_Chi_tiet_tdmau_ViTri]
GO
ALTER TABLE [dbo].[Dinh_luong]  WITH CHECK ADD  CONSTRAINT [CHK_DinhLuong_SL] CHECK  (([dinhluong_soluong]>(0)))
GO
ALTER TABLE [dbo].[Dinh_luong] CHECK CONSTRAINT [CHK_DinhLuong_SL]
GO
ALTER TABLE [dbo].[Dinh_luong_che_do_chuan]  WITH CHECK ADD  CONSTRAINT [CK_DLCD_SoLuong] CHECK  (([so_luong]>(0)))
GO
ALTER TABLE [dbo].[Dinh_luong_che_do_chuan] CHECK CONSTRAINT [CK_DLCD_SoLuong]
GO
ALTER TABLE [dbo].[Mon_an]  WITH CHECK ADD  CONSTRAINT [CHK_Mon_an_Loai] CHECK  (([monan_loaimon]='Sua' OR [monan_loaimon]='TrangMieng' OR [monan_loaimon]='ManPhu' OR [monan_loaimon]='Rau' OR [monan_loaimon]='ManChinh' OR [monan_loaimon]='Canh' OR [monan_loaimon]='Com'))
GO
ALTER TABLE [dbo].[Mon_an] CHECK CONSTRAINT [CHK_Mon_an_Loai]
GO
ALTER TABLE [dbo].[Quan_so_an]  WITH CHECK ADD  CONSTRAINT [CHK_QSA_SoLuong] CHECK  (([quansoan_soluong]>=(0)))
GO
ALTER TABLE [dbo].[Quan_so_an] CHECK CONSTRAINT [CHK_QSA_SoLuong]
GO
ALTER TABLE [dbo].[Thuc_don]  WITH CHECK ADD  CONSTRAINT [CHK_TD_TrangThai] CHECK  (([trang_thai]='TuChoi' OR [trang_thai]='DaDuyet' OR [trang_thai]='ChoDuyet' OR [trang_thai]='NhapLieu'))
GO
ALTER TABLE [dbo].[Thuc_don] CHECK CONSTRAINT [CHK_TD_TrangThai]
GO
ALTER TABLE [dbo].[Thuc_don]  WITH CHECK ADD  CONSTRAINT [CHK_TD_Tuan] CHECK  (([thucdon_tuan]>=(1) AND [thucdon_tuan]<=(53)))
GO
ALTER TABLE [dbo].[Thuc_don] CHECK CONSTRAINT [CHK_TD_Tuan]
GO
ALTER TABLE [dbo].[Thuc_pham]  WITH CHECK ADD  CONSTRAINT [CHK_Thuc_pham_Gia] CHECK  (([thucpham_giatien]>=(0)))
GO
ALTER TABLE [dbo].[Thuc_pham] CHECK CONSTRAINT [CHK_Thuc_pham_Gia]
GO
/****** Object:  StoredProcedure [dbo].[sp_checkmaqn]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_checkmaqn]
@quannhan_id int
as
begin 
if exists (select 1 from [dbo].[Quan_nhan] where quannhan_id=@quannhan_id)
	select 1
else 
	select 0
end
GO
/****** Object:  StoredProcedure [dbo].[sp_CheDo_DanhSach]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheDo_DanhSach]
 AS
BEGIN
SET NOCOUNT ON;
 SELECT chedo_id, chedo_ten, chedo_tienan
FROM Che_do
ORDER BY chedo_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTietMonAn_Them]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ChiTietMonAn_Them]
    @monan_id       INT,
    @thucpham_id    INT,
    @chedo_id       INT,
    @ty_le          DECIMAL(8, 4) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra trùng lặp (composite PK: monan_id + thucpham_id + chedo_id)
    IF NOT EXISTS (
        SELECT 1 FROM Chi_tiet_mon_an
        WHERE monan_id = @monan_id AND thucpham_id = @thucpham_id AND chedo_id = @chedo_id
    )
    BEGIN
        INSERT INTO Chi_tiet_mon_an (monan_id, thucpham_id, chedo_id, ty_le)
        VALUES (@monan_id, @thucpham_id, @chedo_id, @ty_le);
    END

    SELECT @@ROWCOUNT AS RowsAffected;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_count_bqs]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_count_bqs]
    @donvi_id INT,
    @tukhoa NVARCHAR(100)
AS
BEGIN
    SELECT COUNT(*)
    FROM Quan_nhan
    WHERE donvi_id = @donvi_id
    AND quannhan_hoten
        LIKE '%' + @tukhoa + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_count_qs_chedo]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_count_qs_chedo]
    @donvi_id INT,
    @chedo_id INT
AS
BEGIN
    SELECT COUNT(*)
    FROM Quan_nhan
    WHERE donvi_id = @donvi_id
    AND chedo_id = @chedo_id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_count_qs_donvi]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_count_qs_donvi]
    @donvi_id INT
AS
BEGIN
    SELECT COUNT(*)
    FROM Quan_nhan
    WHERE donvi_id = @donvi_id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_count_timkiemqn]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_count_timkiemqn]
    @donvi_id INT,
    @chedo_id INT
AS
BEGIN
    IF @chedo_id = 0
    BEGIN
        SELECT COUNT(*)
        FROM [dbo].[Quan_nhan]
        WHERE donvi_id = @donvi_id
    END
    ELSE
    BEGIN
        SELECT COUNT(*)
        FROM [dbo].[Quan_nhan]
        WHERE donvi_id = @donvi_id
        AND chedo_id = @chedo_id
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_countqn]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_countqn]
AS
BEGIN
    SELECT COUNT(*) AS tongdong
    FROM [dbo].[Quan_nhan]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_deleteqn]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_deleteqn]
    @quannhan_id INT
AS
BEGIN
    DELETE FROM [dbo].[Quan_nhan]
    WHERE quannhan_id = @quannhan_id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_deletetp]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_deletetp]
@thucpham_id int
as
begin 
delete from [dbo].[Thuc_pham]
where thucpham_id=@thucpham_id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ds_catcom_theongay]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_ds_catcom_theongay]
(
    @donvi_id INT,
    @ngay DATE
)
AS
BEGIN

    SELECT
        ROW_NUMBER() OVER
        (
            ORDER BY cc.buoian_id
        ) AS STT,

        qn.quannhan_hoten,
        cd.chedo_ten,
        ba.buoian_ten

    FROM Cat_com cc

    INNER JOIN Quan_nhan qn
        ON cc.quannhan_id = qn.quannhan_id

    INNER JOIN Che_do cd
        ON qn.chedo_id = cd.chedo_id

    INNER JOIN Buoi_an ba
        ON cc.buoian_id = ba.buoian_id

    WHERE cc.donvi_id = @donvi_id
    AND cc.ngay_thang_nam = @ngay

END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_chedo_by_maqn]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_get_chedo_by_maqn]
    @maqn INT
AS
BEGIN
    SELECT chedo_id
    FROM Quan_nhan
    WHERE quannhan_id = @maqn
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getallbuoi]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_getallbuoi]
as
begin 
select buoian_id, buoian_ten
from [dbo].[Buoi_an]
end
GO
/****** Object:  StoredProcedure [dbo].[sp_getallchedo]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_getallchedo]
AS
BEGIN
    SELECT chedo_id, chedo_ten
    FROM  [dbo].[Che_do]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getalldonvi]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_getalldonvi]
AS
BEGIN
    SELECT donvi_id, donvi_ten
    FROM [dbo].[Don_vi]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getallqn]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_getallqn]
as 
begin
select 
q.quannhan_id,
q.quannhan_hoten,
d.donvi_ten,
c.chedo_ten
from  [dbo].[Quan_nhan] q
inner join  [dbo].[Che_do] c
on q.chedo_id=c.chedo_id
inner join [dbo].[Don_vi] d
on q.donvi_id=d.donvi_id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_getalltp]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_getalltp]
as 
begin
select thucpham_id, thucpham_ten,thucpham_giatien,thucpham_donvitinh,thucpham_kcal
from  [dbo].[Thuc_pham]
end
GO
/****** Object:  StoredProcedure [dbo].[sp_getbqs]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_getbqs]
    @donvi_id INT,
    @tukhoa NVARCHAR(100),
    @page INT,
    @pagesize INT
AS
BEGIN

    SELECT
        q.quannhan_id,
        q.quannhan_hoten,
        c.chedo_ten,
        c.chedo_id
    FROM Quan_nhan q
    INNER JOIN Che_do c
        ON q.chedo_id = c.chedo_id

    WHERE q.donvi_id = @donvi_id

    AND q.quannhan_hoten
        LIKE '%' + @tukhoa + '%'

    ORDER BY q.quannhan_id

    OFFSET (@page - 1) * @pagesize ROWS

    FETCH NEXT @pagesize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getqn_paging]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_getqn_paging]
    @page INT,
    @pagesize INT
AS
BEGIN
    SELECT
        qn.quannhan_id,
        qn.quannhan_hoten,
        dv.donvi_id,
        dv.donvi_ten,
        cd.chedo_id,
        cd.chedo_ten
    FROM [dbo].[Quan_nhan] qn
    INNER JOIN [dbo].[Don_vi] dv
        ON qn.donvi_id = dv.donvi_id
    INNER JOIN [dbo].[Che_do] cd
        ON qn.chedo_id = cd.chedo_id

    ORDER BY qn.quannhan_id

    OFFSET (@page - 1) * @pagesize ROWS
    FETCH NEXT @pagesize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getQuannhanByMa]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_getQuannhanByMa]
    @quannhan_id INT
AS
BEGIN
SELECT
        qn.quannhan_id,
        qn.quannhan_hoten,

        dv.donvi_id,
        dv.donvi_ten,

        cd.chedo_id,
        cd.chedo_ten,
        cd.chedo_tienan

    FROM [dbo].[Quan_nhan] qn

    INNER JOIN [dbo].[Don_vi] dv
        ON qn.donvi_id = dv.donvi_id

    INNER JOIN [dbo].[Che_do] cd
        ON qn.chedo_id = cd.chedo_id

    WHERE qn.quannhan_id = @quannhan_id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertcc]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_insertcc]
@ngaythangnam date,
@quannhan_id int,
@buoian_id int,
@donvi_id int
as
begin 
insert into [dbo].[Cat_com] (ngay_thang_nam, quannhan_id,buoian_id,donvi_id)
values (@ngaythangnam,@quannhan_id,@buoian_id,@donvi_id)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_insertqn]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_insertqn]
@quannhan_id int,
@quannhan_hoten nvarchar(50),
@donvi_id int,
@chedo_id int
as
begin 
insert into [dbo].[Quan_nhan](quannhan_id,quannhan_hoten,donvi_id,chedo_id)
values (@quannhan_id,@quannhan_hoten,@donvi_id,@chedo_id)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_insertqsa]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_insertqsa]
@ngay date,
@buoian_id int,
@donvi_id int,
@chedo_id int,
@soluong int
as
begin
    insert into [dbo].[Quan_so_an]
    (
        ngay_thang_nam,
        buoian_id,
        donvi_id,
        chedo_id,
        quansoan_soluong
    )
    values
    (
        @ngay,
        @buoian_id,
        @donvi_id,
        @chedo_id,
        @soluong
    )
end
GO
/****** Object:  StoredProcedure [dbo].[sp_inserttp]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_inserttp]

@thucpham_ten nvarchar(50),
@thucpham_giatien decimal,
@thucpham_kcal decimal,
@thucpham_donvitinh nvarchar(50)
as
begin 
	insert into [dbo].[Thuc_pham] (thucpham_ten,thucpham_giatien,thucpham_kcal,thucpham_donvitinh)
	values (@thucpham_ten,@thucpham_giatien,@thucpham_kcal,@thucpham_donvitinh)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_kiemtradabao]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_kiemtradabao]
@ngay date,
@buoian_id int,
@donvi_id int
as
begin
    if exists
    (
        select *
        from [dbo].[Quan_so_an]
        where ngay_thang_nam = @ngay
        and buoian_id = @buoian_id
        and donvi_id = @donvi_id
    )
        select 1
    else
        select 0
end
GO
/****** Object:  StoredProcedure [dbo].[sp_laydonvitheoid]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_laydonvitheoid]
@donvi_id int
as
begin 
select 
donvi_ten
from Don_vi
where donvi_id=@donvi_id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_lichsubaoqs]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lichsubaoqs]
    @tungay    DATE,
    @denngay   DATE,
    @donvi_id  INT,
    @buoian_id INT,
    @page      INT,
    @pagesize  INT
AS
BEGIN
    SELECT
        qs.ngay_thang_nam,
        ba.buoian_ten,
        ba.buoian_id,
        cd.chedo_ten,
        cd.chedo_id,
        qs.quansoan_soluong AS An,
        (
            (SELECT COUNT(*) FROM [dbo].[Quan_nhan] qn
             WHERE qn.donvi_id = qs.donvi_id
               AND qn.chedo_id = qs.chedo_id)
            - qs.quansoan_soluong
        ) AS CatCom
    FROM [dbo].[Quan_so_an] qs
    JOIN [dbo].[Buoi_an] ba ON qs.buoian_id = ba.buoian_id
    JOIN [dbo].[Che_do]  cd ON qs.chedo_id  = cd.chedo_id
    WHERE qs.ngay_thang_nam BETWEEN @tungay AND @denngay
      AND qs.donvi_id = @donvi_id
      AND (@buoian_id = 0 OR qs.buoian_id = @buoian_id)
    ORDER BY qs.ngay_thang_nam
    OFFSET (@page - 1) * @pagesize ROWS
    FETCH NEXT @pagesize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[sp_lichsucatcom]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lichsucatcom]
    @quannhan_id INT,
    @tungay DATE,
    @denngay DATE
AS
BEGIN
    SELECT 
        qn.quannhan_id,
        qn.quannhan_hoten,
        cc.ngay_thang_nam,
        ba.buoian_id,
        ba.buoian_ten,
        cd.chedo_id,
        cd.chedo_ten,
        cd.chedo_tienan,
        ba.buoian_tletienan,

        (cd.chedo_tienan * ba.buoian_tletienan) AS tiencatcom

    FROM [dbo].[Cat_com] cc
    INNER JOIN [dbo].[Quan_nhan] qn 
        ON cc.quannhan_id = qn.quannhan_id

    INNER JOIN [dbo].[Che_do] cd
        ON qn.chedo_id = cd.chedo_id

    INNER JOIN [dbo].[Buoi_an] ba
        ON cc.buoian_id = ba.buoian_id

    WHERE cc.quannhan_id = @quannhan_id
    AND cc.ngay_thang_nam BETWEEN @tungay AND @denngay

    ORDER BY cc.ngay_thang_nam
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MonAn_LayMaMoi]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MonAn_LayMaMoi]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ISNULL(MAX(monan_id), 0) + 1 AS MaMoi FROM Mon_an;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_MonAn_Them]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MonAn_Them]
    @monan_id       INT,
    @monan_ten      NVARCHAR(150),
    @monan_loaimon  NVARCHAR(20),
    @ghi_chu        NVARCHAR(50) = NULL,
    @dam            FLOAT = NULL,
    @chat_beo       FLOAT = NULL,
    @chat_xo        FLOAT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Mon_an (monan_id, monan_ten, monan_loaimon, ghi_chu, dam, chat_beo, chat_xo)
    VALUES (@monan_id, @monan_ten, @monan_loaimon, @ghi_chu, @dam, @chat_beo, @chat_xo);

    -- Trả về số dòng bị ảnh hưởng để kiểm tra thành công
    SELECT @@ROWCOUNT AS RowsAffected;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_NhanBan_TuanMau]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NhanBan_TuanMau]
    @thucdon_id   INT,
    @ngay_bat_dau DATE,            -- phải là Thứ 2
    @mau_id       INT = NULL       -- NULL = lấy mẫu mặc định
AS
BEGIN
    SET NOCOUNT ON;

    -- Lấy mẫu mặc định nếu không truyền
    IF @mau_id IS NULL
        SET @mau_id = (SELECT TOP 1 mau_id FROM [dbo].[Thuc_don_mau] WHERE la_mac_dinh = 1);

    IF @mau_id IS NULL
    BEGIN RAISERROR(N'Không tìm thấy mẫu mặc định.', 16, 1); RETURN; END

    -- Kiểm tra @ngay_bat_dau phải là Thứ 2 (DATEPART weekday: 1=CN, 2=T2 với DATEFIRST=7)
    IF DATEPART(WEEKDAY, @ngay_bat_dau) <> 2
    BEGIN RAISERROR(N'@ngay_bat_dau phải là Thứ 2.', 16, 1); RETURN; END

    -- Chuyển thu_trong_tuan → ngày cụ thể:
    --   thu=2(T2) → +0 ngày, thu=3(T3) → +1, ..., thu=8(CN) → +6
    INSERT INTO [dbo].[Chi_tiet_thuc_don] (thucdon_id, ngay_thang_nam, buoian_id, monan_id)
    SELECT
        @thucdon_id,
        DATEADD(DAY, ct.thu_trong_tuan - 2, @ngay_bat_dau),
        ct.buoian_id,
        ct.monan_id
    FROM [dbo].[Chi_tiet_tdmau] ct
    WHERE ct.mau_id = @mau_id
      AND NOT EXISTS (
          SELECT 1 FROM [dbo].[Chi_tiet_thuc_don] x
          WHERE x.thucdon_id       = @thucdon_id
            AND x.ngay_thang_nam   = DATEADD(DAY, ct.thu_trong_tuan - 2, @ngay_bat_dau)
            AND x.buoian_id        = ct.buoian_id
            AND x.monan_id         = ct.monan_id
      );

    PRINT N'✓ Nhân bản xong: ' + CAST(@@ROWCOUNT AS VARCHAR) + N' món cho thực đơn ID=' + CAST(@thucdon_id AS VARCHAR);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_QuanSoAn_Count]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_QuanSoAn_Count]
    @tungay DATE,
    @denngay DATE,
    @donvi INT,
    @buoi INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*)
    FROM [dbo].[Quan_so_an]
    WHERE
        ngay_thang_nam BETWEEN @tungay AND @denngay
        AND (@donvi = 0 OR donvi_id = @donvi)
        AND (@buoi = 0 OR buoian_id = @buoi);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_nam]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_thongke_nam]
    @quannhan_id INT,
    @nam INT
AS
BEGIN

    DECLARE @thanghientai INT

    IF @nam = YEAR(GETDATE())
        SET @thanghientai = MONTH(GETDATE())
    ELSE
        SET @thanghientai = 12


    ;WITH thang AS
    (
        SELECT 1 AS thang
        UNION ALL SELECT 2
        UNION ALL SELECT 3
        UNION ALL SELECT 4
        UNION ALL SELECT 5
        UNION ALL SELECT 6
        UNION ALL SELECT 7
        UNION ALL SELECT 8
        UNION ALL SELECT 9
        UNION ALL SELECT 10
        UNION ALL SELECT 11
        UNION ALL SELECT 12
    )

    SELECT

        t.thang,

        DAY(EOMONTH(
            DATEFROMPARTS(@nam, t.thang, 1)
        )) * 3

        -

        ISNULL(COUNT(cc.catcom_id),0)
            AS sobuoian,

        ISNULL(COUNT(cc.catcom_id),0)
            AS sobuoikhongan

    FROM thang t

    LEFT JOIN Cat_com cc
        ON MONTH(cc.ngay_thang_nam)
            = t.thang

        AND YEAR(cc.ngay_thang_nam)
            = @nam

        AND cc.quannhan_id
            = @quannhan_id

    WHERE t.thang <= @thanghientai

    GROUP BY t.thang

    ORDER BY t.thang

END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongke_tongquan]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_thongke_tongquan]
(
    @donvi_id INT,
    @ngay DATE
)
AS
BEGIN

    DECLARE @tongqs INT

    SELECT @tongqs = COUNT(*)
    FROM Quan_nhan
    WHERE donvi_id = @donvi_id

    -- ĂN SÁNG
    DECLARE @an_sang INT

    SELECT
        @an_sang =
        ISNULL(SUM(quansoan_soluong),0)
    FROM Quan_so_an
    WHERE donvi_id = @donvi_id
    AND ngay_thang_nam = @ngay
    AND buoian_id = 1

    -- ĂN TRƯA
    DECLARE @an_trua INT

    SELECT
        @an_trua =
        ISNULL(SUM(quansoan_soluong),0)
    FROM Quan_so_an
    WHERE donvi_id = @donvi_id
    AND ngay_thang_nam = @ngay
    AND buoian_id = 2

    -- ĂN CHIỀU
    DECLARE @an_chieu INT

    SELECT
        @an_chieu =
        ISNULL(SUM(quansoan_soluong),0)
    FROM Quan_so_an
    WHERE donvi_id = @donvi_id
    AND ngay_thang_nam = @ngay
    AND buoian_id = 3

    SELECT
        @tongqs AS tong_quanso,

        @an_sang AS an_sang,
        @tongqs - @an_sang AS khong_an_sang,

        @an_trua AS an_trua,
        @tongqs - @an_trua AS khong_an_trua,

        @an_chieu AS an_chieu,
        @tongqs - @an_chieu AS khong_an_chieu
END
GO
/****** Object:  StoredProcedure [dbo].[sp_thongkecatcom_thang]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_thongkecatcom_thang]
    @quannhan_id INT,
    @thang INT,
    @nam INT
AS
BEGIN

    DECLARE @tongbuoi INT

    SET @tongbuoi =
        DAY(EOMONTH(DATEFROMPARTS(@nam, @thang, 1))) * 3


    SELECT

        @tongbuoi AS tongbuoi,

        COUNT(*) AS sobuoikhongan,

        @tongbuoi - COUNT(*) AS sobuoian,

        ISNULL(SUM(cd.chedo_tienan * ba.buoian_tletienan),0)
            AS tongtiencat

    FROM Cat_com cc

    INNER JOIN Quan_nhan qn
        ON cc.quannhan_id = qn.quannhan_id

    INNER JOIN Che_do cd
        ON qn.chedo_id = cd.chedo_id

    INNER JOIN Buoi_an ba
        ON cc.buoian_id = ba.buoian_id

    WHERE cc.quannhan_id = @quannhan_id
    AND MONTH(cc.ngay_thang_nam) = @thang
    AND YEAR(cc.ngay_thang_nam) = @nam

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThucPham_DanhSach]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThucPham_DanhSach]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        thucpham_id,
        thucpham_ten,
        thucpham_loai,
        thucpham_donvitinh,
        thucpham_giatien,
        thucpham_kcal
    FROM Thuc_pham
    ORDER BY thucpham_loai, thucpham_ten;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_timkiemdsqn]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_timkiemdsqn]
@donvi_id int, @chedo_id int
as
begin 
set nocount on
if @chedo_id=0
	begin 
		select 
			q.quannhan_id,
			q.quannhan_hoten,
			d.donvi_ten,
			c.chedo_ten
		from [dbo].[Quan_nhan] q
		inner join [dbo].[Don_vi] d
			on q.donvi_id= d.donvi_id
		INNER JOIN [dbo].[Che_do] c
			on q.chedo_id=c.chedo_id
		where q.donvi_id=@donvi_id
	end 
else 
	begin 
		select 
			q.quannhan_id,
			q.quannhan_hoten,
			d.donvi_ten,
			c.chedo_ten
		from [dbo].[Quan_nhan] q
		inner join [dbo].[Don_vi] d
			on q.donvi_id= d.donvi_id
		INNER JOIN [dbo].[Che_do] c
			on q.chedo_id=c.chedo_id
		where q.donvi_id=@donvi_id
		and	q.chedo_id=@chedo_id
		end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_timkiemdsqn_paging]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_timkiemdsqn_paging]
    @donvi_id INT,
    @chedo_id INT,
    @page INT,
    @pagesize INT
AS
BEGIN
    SET NOCOUNT ON

    IF @chedo_id = 0
    BEGIN
        SELECT
            q.quannhan_id,
            q.quannhan_hoten,
            d.donvi_ten,
            c.chedo_ten
        FROM Quan_nhan q
        INNER JOIN Don_vi d
            ON q.donvi_id = d.donvi_id
        INNER JOIN Che_do c
            ON q.chedo_id = c.chedo_id

        WHERE q.donvi_id = @donvi_id

        ORDER BY q.quannhan_id

        OFFSET (@page - 1) * @pagesize ROWS
        FETCH NEXT @pagesize ROWS ONLY
    END
    ELSE
    BEGIN
        SELECT
            q.quannhan_id,
            q.quannhan_hoten,
           d.donvi_id,
            d.donvi_ten,
            c.chedo_id,
            c.chedo_ten
        FROM Quan_nhan q
        INNER JOIN Don_vi d
            ON q.donvi_id = d.donvi_id
        INNER JOIN Che_do c
            ON q.chedo_id = c.chedo_id

        WHERE q.donvi_id = @donvi_id
        AND q.chedo_id = @chedo_id

        ORDER BY q.quannhan_id

        OFFSET (@page - 1) * @pagesize ROWS
        FETCH NEXT @pagesize ROWS ONLY
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_timkiemnhanh_qn]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_timkiemnhanh_qn]
@tukhoa nvarchar(50)
as 
begin 

     SELECT
        qn.quannhan_id,
        qn.quannhan_hoten,
        dv.donvi_id,
        dv.donvi_ten,
        cd.chedo_id,
        cd.chedo_ten

    FROM [dbo].[Quan_nhan] qn

    INNER JOIN [dbo].[Don_vi] dv
        ON qn.donvi_id = dv.donvi_id

    INNER JOIN [dbo].[Che_do] cd
        ON qn.chedo_id = cd.chedo_id

    WHERE qn.quannhan_hoten LIKE '%' + @tukhoa + '%'
end  
GO
/****** Object:  StoredProcedure [dbo].[sp_updateqn]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_updateqn]

    @quannhan_id INT,
    @quannhan_hoten NVARCHAR(100),
    @donvi_id INT,
    @chedo_id INT
AS
BEGIN
    UPDATE [dbo].[Quan_nhan]
    SET 
        quannhan_hoten = @quannhan_hoten,
        donvi_id = @donvi_id,
        chedo_id = @chedo_id
    WHERE quannhan_id = @quannhan_id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_updatetp]    Script Date: 5/23/2026 5:45:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_updatetp]
@thucpham_id int,
@thucpham_ten nvarchar(50),
@thucpham_giatien decimal,
@thucpham_kcal decimal,
@thucpham_donvitinh nvarchar(50)
as
begin 
	update [dbo].[Thuc_pham] 
	set 
	thucpham_ten=@thucpham_ten,
	thucpham_giatien=@thucpham_giatien,
	thucpham_kcal=@thucpham_kcal,
	thucpham_donvitinh=@thucpham_donvitinh
	where thucpham_id=@thucpham_id
end
GO
